version: "3.8"

services:
  api_agent:
    build: .
    container_name: api_agent
    ports:
      - "8005:8005"
    networks:
      - dokploy-network
    environment:
      - AZURE_OPENAI_API_KEY=${AZURE_OPENAI_API_KEY}
      - AZURE_OPENAI_ENDPOINT=${AZURE_OPENAI_ENDPOINT:-https://openai-ragbot.openai.azure.com/}
      - AZURE_OPENAI_API_VERSION=${AZURE_OPENAI_API_VERSION:-2024-12-01-preview}
      - AZURE_DEPLOYMENT_NAME=${AZURE_DEPLOYMENT_NAME:-gpt-4.1-mini}
      - AZURE_EMBEDDING_DEPLOYMENT_NAME=${AZURE_EMBEDDING_DEPLOYMENT_NAME:-text-embedding-3-small}
      - ROOT_PATH=/config
    volumes:
      - /home/technova/app/api_data:/app/data
    restart: unless-stopped

networks:
  dokploy-network:
    external: true
